* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
}

body {
  background: lightblue;
  color: #b47555;
  display: inline-block;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.65;
  object-fit: cover;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  z-index: 1000;
  display: inline-block;
}

/* header page titl */
.name {
  color: #4a7896;
  font-size: 3.5vw;
  font-weight: 300;
}

.name:hover {
  color: #b47555;
}

.t {
  color: white;
  font-size: 3.5vw;
  font-weight: 500;
}

.shirt {
  color: white;
  font-size: 3.5vw;
  font-weight: 500;
}

.t:hover {
  color: #4a7896;
}

.shirt:hover {
  color: #4a7896;
}

.dash {
  color: #9c6244;
  font-size: 3vw;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

.titleDesc {
  font-size: 3vw;
  font-weight: 250;
}

/*Start nav styling*/

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav a {
  color: #3d627b;
  font-size: 1.3vw;
  font-weight: 300;
  margin-left: 20px;
}

.nav a:hover {
  text-decoration: none;
  color: white;
}

.nav li {
  cursor: pointer;
  color: #3d627b;
}

/*home page middle styling*/
.start {
  color: #9c6244;
  position: absolute;
  display: inline-block;
  top: 45%;
  left: 8%;
}

.start h2 {
  font-size: 2.75vw;
  font-weight: bold;
}

.love {
  color: white;
  font-weight: bold;
  text-shadow: 8px 8px #4a7896;
  font-size: 3vw;
}

.startButton {
  background: rgb(102, 102, 102);
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1.75vw;
  font-weight: 400;
  padding: 10px 15px;
  opacity: 0.8;
}

.startButton:hover {
  opacity: 1;
}

.navActive {
  color: lightblue;
}

/*login styling*/

.form-input {
  margin: 8px;
  display: block;
}

.loginContainer {
  width: 30%;
  position: absolute;
  top: 25%;
  left: 12%;
  display: flex;
  flex-direction: column;
}

.fieldSetLogin {
  margin: 2em 0;
  padding: 1em 2em;
  border: 3px solid #9c6244;
  border-radius: 6px;
  min-width: 200px;
  font-size: 1.25em;
  font-weight: 500;
}

.fieldSetLogin p {
  color: white;
  font-weight: 400;
  overflow: hidden;
}

.loginSubmit {
  padding: 0.5em 1em;
  border-radius: 6px;
  background-color: #294353;
  color: white;
  font-size: 0.8em;
  font-weight: 400;
}

/*signup styling*/

.form-input {
  margin: 5px;
}

.signupContainer {
  width: 30%;
  position: absolute;
  top: 25%;
  right: 12%;
}

.signupSubmit {
  padding: 0.5em 1em;
  border-radius: 6px;
  background-color: #294353;
  color: white;
  font-size: 0.8em;
  font-weight: 400;
}
/* gallery styles */
.gallery-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

/* User main style */
.main-area {
  width: 80%;
  position: absolute;
  top: 35%;
  left: 10%;
}

.user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 10vh;
}

/* create style */

.createInput {
  margin: 5px;
  display: block;
  overflow: hidden;
}

.createContainer {
  width: 80vw;
  height: 29px;
  position: absolute;
  top: 15%;
  left: 10%;
}

.SignupLegend {
  font-size: 1.75em;
}

.fieldSetCreate {
  margin: 1em 0;
  margin-bottom: 10vh;
  padding: 1em 2em;
  border: 3px solid #9c6244;
  border-radius: 6px;
  min-width: 200px;
  font-size: 1.25em;
  font-weight: 500;
}

.createSubmit {
  padding: 0.5em 1em;
  border-radius: 6px;
  background-color: #294353;
  color: white;
  font-size: 0.8em;
  font-weight: 400;
}

/*Modal Style*/

.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

.modalBackdrop {
  background: rgba(0, 0, 0, 0.65);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.modalContainer {
  background: lightblue;
  border-radius: 5px;
  max-width: 100%;
  margin: 50px auto;
  padding: 15px;
  width: 960px;
}

.modalTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
}

button {
  background: grey;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 30px;
  padding: 10px 15px;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
}

/* contact styling */

.contact {
  display: flex;
  flex-direction: column;
  width: 55vw;
  height: 8vh;
  position: relative;
  top: 9em;
  left: 25em;
}

fieldset {
  margin: 2em 0;
  padding: 1em 2em;
  border: 2px solid #9c6244;
  border-radius: 6px;
}

form label {
  font-size: 25px;
}

legend {
  font-size: 2.5em;
  padding: 0 0.25em;
  color: #3d627b;
  width: auto;
}

.form-input {
  margin: 5px;
}

/* Contact Labels */

label {
  display: flex;
  margin-top: 1em;
}

label:first-of-type {
  margin-top: 0;
}

input {
  padding: 0.5em;
  border: solid 1px #3d627b;
}

input[type="email"],
input[type="text"] {
  width: 20em;
}

textarea {
  height: 10vh;
  width: 80%;
  padding: 0.5em;
  border: solid 1px #3d627b;
}

.contactSubmit {
  padding: 0.5em 1em;
  border-radius: 6px;
  background-color: #294353;
  color: white;
  font-size: 1.5em;
  font-weight: 300;
}

input:focus {
  border: 1px solid v #9c6244;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

.error-text {
  font-weight: 600;
  color: rgb(145, 3, 3);
}

/* About Page */
.about-section {
  width: 40vw;
  position: relative;
  top: 25vh;
  left: 25vw;
}

.about-section h1 {
  margin-bottom: 30px;
  font-size: 2.5vw;
  font-weight: 800;
  color: #4a7896;
}

.text {
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.skills {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
  color: #4a7896;
}

/* Footer Styling */
.footer {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  bottom: 0;
  font-weight: 200;
}

.footer ul {
  list-style: none;
  text-align: center;
  height: 40px;
}

.footer li {
  padding: 0 10px;
  line-height: 2vw;
  color: #294353;
  font-size: 2vw;
}

.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
  font-size: 2vw;
  line-height: 2vw;
}

.footer p {
  color: #9c6244;
  text-decoration: none;
  opacity: 0.8;
  font-size: 2vw;
  margin: 0;
}

.footer ul a:hover {
  opacity: 1;
  color: white;
}

.footer .social {
  text-align: center;
}

.footer .social > a {
  font-size: 2.5vw;
  width: 3.5vw;
  height: 3.5vw;
  display: inline-block;
  text-align: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #294353;
  margin: 0 25px;
  color: #9c6244;
  opacity: 0.75;
}

.footer .social > a:hover {
  opacity: 0.9;
  color: white;
}
.space-for-footer {
  height: 10vh;
}

.tshirt-image {
  height: 500px;
}

@media (max-width: 1256px) {
  .background {
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .name {
    font-size: 40px;
    font-weight: 400;
  }

  .t {
    font-size: 40px;
  }

  .shirt {
    font-size: 40px;
  }

  .dash {
    font-size: 40px;
  }

  .titleDesc {
    font-size: 35px;
  }
  .nav a {
    font-size: 20px;
  }
  .start h2 {
    font-size: 25px;
    display: inline-block;
  }
  .love {
    font-size: 25px;
    display: inline-block;
  }
  .startButton {
    font-size: 20px;
  }
}

@media (max-width: 930px) {
  .footer .social > a {
    font-size: 35px;
    width: 50px;
    height: 50px;
  }
  .footer ul a {
    font-size: 20px;
    line-height: 24px;
  }
  .footer p {
    font-size: 20px;
  }
}
