* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lexend Deca', sans-serif;
}


header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
}

.container {
  margin: 0;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: lightblue;
  color: #b47555;
}

.background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.65;
  object-fit: cover;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.name {
  color: #4a7896;
  font-size:3vw;
  font-weight:300;
}

.name:hover {
  color: #b47555;
  font-size:3vw;
  font-weight:300;
}

.t {
  color: white;
  font-size:3vw;
  font-weight: 500;
}

.shirt {
  color: white;
  font-size:3vw;
  font-weight: 500;
}

.dash {
  color: #9c6244;
  font-size:3vw;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav a {
  color: #3d627b;
  font-size: 3.5vh;
  font-weight: 300;
  margin-left: 20px;
}

.nav a:hover {
  text-decoration: none;
  color: white;
}

.nav li {
  cursor: pointer;
  color: #3d627b;
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
}

.navActive {
  color: lightblue;
}

.card {
  width: 25%;
  text-align: center;
}

.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

.modalBackdrop {
  background: rgba(0, 0, 0, 0.65);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.modalContainer {
  background: lightblue;
  border-radius: 5px;
  max-width: 100%;
  margin: 50px auto;
  padding: 15px;
  width: 960px;
}

.modalTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
}

button {
  background: grey;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 10px 15px;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid grey;
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid lightgrey;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

li {
  list-style: none;
}

.footer {
  color:black;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  bottom: 0;
}

.footer ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer li {
  padding:0 10px;
  color: #3d627b;
}

.footer ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
  font-size: 30px;
}

.footer p {
  color: #9c6244;
  text-decoration:none;
  opacity:0.8;
  font-size: 30px;
  margin-top: 10px;
}

.footer ul a:hover {
  opacity:1;
  color: white;
}


.footer .social {
  text-align:center;
  padding-bottom:25px;
}

.footer .social > a {
  font-size:40px;
  width:65px;
  height:65px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:3px solid #3d627b;
  margin:0 25px;
  color:#9c6244;
  opacity:0.75;
}

.footer .social > a:hover {
  opacity:0.9;
  color: white;
}

@media(max-width: 1256px) {
  .background {
    object-fit: cover;
  }
}